@model IEnumerable<IdentityServerSystem.Models.ApplicationDepartment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create">创建新科室</a>
</p>
<table class="table table-bordered table-hover" id="table_id">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DepartmentID" class="btn btn-primary">编辑</a> |
                    <a asp-action="Details" asp-route-id="@item.DepartmentID" class="btn btn-warning">详情</a> |
                    <a asp-action="Delete" asp-route-id="@item.DepartmentID" class="btn btn-danger">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    @Html.Partial("_TableUseDataTable")

}